{% load static %}
<script src="{% static '' %}js/jquery.min.js"></script> 

<!--== bootstrap -->
<script src="{% static '' %}js/bootstrap.bundle.min.js"></script>

<!--== jquery-appear -->
<script src="{% static '' %}js/jquery-appear.js"></script> 

<!--== owl-carousel -->
<script src="{% static '' %}js/owl.carousel.min.js"></script> 

<!--== magnific-popup --> 
<script src="{% static '' %}js/jquery.magnific-popup.min.js"></script>

<!--== counter -->
<script src="{% static '' %}js/odometer.min.js"></script>

<!--== countdown -->
<script src="{% static '' %}js/jquery.countdown.min.js"></script> 

<!--== wow -->
<script src="{% static '' %}js/wow.min.js"></script>

<!--== color-customize -->
<script src="{% static '' %}js/color-customize/color-customizer.js"></script> 

<!--== theme-script -->
<script src="{% static '' %}js/theme-script.js"></script>
